<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Todo list</title>
    <link href="content/todo.css" rel="stylesheet" />
</head>
<body ng-app="todo">
    <header>
        <h1>Todo List</h1>
    </header>
    <section class="container" ng-controller="TodosCtrl as tc">
        <form name="newTask" class="new-task" novalidate>
            <input type="text" name="newTodoText" ng-model="tc.newTodoText" required autofocus />
            <button ng-click="tc.addNew()" ng-disabled="!newTask.$valid">add</button>
        </form>
        <section class="remaining-tasks">
            <span>Total: {{tc.todos.length}} - Remaining: {{tc.remaining}}</span>
            <button ng-click="tc.removeDoneTodos()" ng-disabled="(tc.todos.length - tc.remaining) === 0">remove done</button>
        </section>
        <section class="task-list">
            <ul>
                <li ng-repeat="todo in tc.todos">
                    <input type="checkbox" ng-model="todo.done" ng-change="tc.updateRemainig(todo)" />
                    <span ng-class="{pending: todo.done === false, done: todo.done}">{{todo.text}}</span>
                    <span class="done-status">is done?: {{todo.done}}</span>
                </li>
            </ul>
        </section>
    </section>
    <footer>
        <span>Developed with AngularJs by Plain Concepts</span>
    </footer>
    <script src="vendors/angular/js/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/todosCtrl.js"></script>
</body>
</html>